/*
 THEME NAME: DigiTheme
 AUTHOR: Digilite Web Solutions
 VERSION: 3.0
 */
/*FONTS*/
/*DEFAULT CSS*/
* {
	outline: none !important;
	text-decoration: none !important;
}

body {
	min-height: 100vh;
	margin: 0;
	padding: 0;
	color: #231F20;
	font-size: 16px;
	line-height: 1.6;
	position: relative;
	font-family: "Montserrat", sans-serif;
	font-style: normal;
}

a {
	color: #231F20;
}

a:hover,
a:focus {
	color: #A61C20;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
}

.transition {
	transition: .5s;
}

.relative-parent {
	position: relative;
}

.absolute-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}

.absolute {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 20;
}

.alpha {
	padding-left: 0;
}

.omega {
	padding-right: 0;
}

.page-404 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.alignnone {
	margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 0 auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption {
	max-width: 100%;
	text-align: center;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 98.5%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding: 6px 0px 5px;
	text-align: left;
}

/*MAIN CSS*/
/* ------ Header ------- */
header {
	padding-top: 10px;
	padding-bottom: 10px;
	top: 0;
	left: 0;
	right: 0;
	position: absolute;
	z-index: 20;
	transition: 0.4s;
}

.home header.none-scrolled {
	background-color: transparent;
}

.logo.white-logo path,
.home header.none-scrolled .logo path {
	fill: white;
}

header.scrolled {
	position: fixed;
	background-color: white;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

header .logo svg {
	position: relative;
	z-index: 20;
}

header.scrolled .logo svg {
	max-width: 160px;
	height: 60px;
}

.mobile-nav {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background-color: #000;
	z-index: 22;
	display: none;
}



.primary-menu .main-menu .menu-item {
	list-style-type: none;
}

header.scrolled .primary-menu .main-menu {
	margin-top: 0;
	margin-bottom: 0;
}

header .menu-item a {
	color: #231F20;
	display: inline-block;
	font-weight: 500;
	padding: 10px 0;
}

.hero-video .menu-item a,
body:not(.home) .show .menu-item a {
	color: #ffffff;
}

header:not(.scrolled) .hero-video .menu-item a:hover {
	border-bottom: 3px solid #ffffff;
}

header.scrolled .menu-item a:hover,
body:not(.home) .menu-item a:hover {
	color: #A61C20;
}

header.scrolled .menu-item a,
body:not(.home) .menu-item a {
	color: #231F20;
}

/*  ---------------------- */
/* ------ Hero Container ------ */
.hero {
	position: relative;
	overflow: hidden;
}

.hero::after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 10;
}

.hero iframe {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    top: 0;
}

.hero-title {
	position: absolute;
	color: #f1f1f1;
	font-weight: 500;
	z-index: 11;
}

#myVideo {
	position: absolute;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.hero_type_2 {
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 8px solid #A61C20;
	position: relative;
}

#triangle {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 37px solid white;
	position: absolute;
	bottom: -8px;
}

.page-title {
	position: relative;
	font-weight: 500;
	font-size: 48px;
	color: #ffffff;
	z-index: 11;
}

/* ------------------ */
/* ------ Front Page ------ */
.about-company {
	position: relative;
}

.about-description {
	position: relative;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #ffffff;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
	z-index: 11;
}

.ab-title {
	font-weight: 500;
	color: #A61C20;
}

.about-description .ab-description {
	font-weight: 500;
}

.p-title {
	font-weight: 500;
}

.lt-manage-property {
	margin-top: 64px;
}

.lt-manage-property:first-child {
	margin-top: 0;
}

.lt-manage-property p {
	font-size: 16px;
	line-height: 27px;
}

.what-sets {
	color: #ffffff;
	padding: 64px 0;
	margin-top: 66px;
}

.wh-icon {
	border: 1px solid #ffffff;
	border-radius: 40px;
	height: 80px;
	width: 80px;
	padding-top: 15px;
}

.wh-in-title {
	font-weight: 600;
}

.wh-items:hover {
	background: rgba(255, 255, 255, 0.05);
}

.how-it-works {
	padding: 62px 0;
}

.hw-number {
	font-weight: 500;
	color: #A61C20;
	border: 2px solid #ECECEC;
	box-sizing: border-box;
	text-align: center;
}

.hw-description {
	font-weight: 400;
}

.line {
	display: block;
	margin: 0 auto;
}

.bt-details {
	color: black;
	font-weight: 500;
	font-size: 22px;
	line-height: 44px;
	text-align: center;
	margin: 0 auto;
	display: block;
	border: 2px solid #231F20;
	box-sizing: border-box;
	border-radius: 8px;
	width: 224px;
	margin-top: 38px;
}

/* ------ Pricing ------ */
.tabs {
	margin-top: 64px;
}

.pricing-tabs {
	border-bottom: 1px solid #C4C4C4;
}

.pricing ul li {
	font-size: 14px;
}

.tabs .starting {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #6B6B6B;
}

.tabs-content-2,
.tabs-content-3 {
	display: none;
}

.tabs-item.active {
	border-bottom: 4px solid #A61C20;
}

.tabs .sum-text {
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #6B6B6B;
}

.sum-text .sum {
	border: 1px solid #231F20;
	padding: 2px;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.att {
	background-color: rgba(196, 196, 196, 0.1);
	margin-top: 32px;
}

.att p {
	font-weight: 500;
	font-size: 17px;
	line-height: 22px;
	color: #6B6B6B;
	margin-top: 17px;
}

.choose {
	border: 1px solid #E1E1E1;
	box-sizing: border-box;
	padding: 10px;
	background: url(img/icon-select.png) no-repeat 97% center;
}

.def {
	display: none;
}

.nu-title {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	margin-bottom: 4px;
}

.nu-text {
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	color: #6B6B6B;
	margin-bottom: 0;
}

.multisel .btn-group {
	border: 1px solid #E1E1E1;
	box-sizing: border-box;
	padding: 12px;
	width: 100%;
}

.multisel .btn-group .dropdown-toggle {
	text-align: left;
}

.multisel .btn-group .dropdown-toggle:focus {
	outline: none;
}

.multisel .btn-group .dropdown-toggle::after {
	border-top: 0.8em solid;
	border-right: 0.5em solid transparent;
	border-left: .5em solid transparent;
	color: #e1e1e1;
	position: absolute;
	right: 6px;
	top: 42%;
}

.multisel .multiselect-container {
	width: 94%;
	padding: 10px 0;
}

.multisel .multiselect-container li {
	font-weight: 400;
	font-size: 14px;
	line-height: 22px;
}

.calc-section {
	margin-top: 35px;
}

.multiselect-selected-text {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
}

.total {
	background: #F9F9F9;
	margin-top: 32px;
	padding-top: 35px;
	padding-bottom: 16px;
}

.total .frm_submit {
	text-align: center;
}

.total .frm_style_formidable-style.with_frm_style .frm_submit button {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	padding: 13px 32px;
}

.choose-d-u {
	font-weight: 500;
	font-size: 22px;
	line-height: 27px;
	border: 1px solid #E1E1E1;
	box-sizing: border-box;
	padding: 10px;
	display: none;
}

.choose-d-u .ch-u {
	margin-left: 32px;
}

.choose-d-u .ch-u:first-child {
	margin-left: 0;
}

.choose-d-u label {
	margin-left: 5px;
}

.request-total {
	font-size: 28px;
	line-height: 34px;
}

.g-total {
	display: flex;
	flex-wrap: wrap;
}

.g-total p {
	width: 50%;
}

.g-t-title {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.g-t-desc {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	color: #6B6B6B;
}

.numb-doors {
	margin-top: 33px;
	padding: 15px 12px;
}

.modal-header {
	border: none;
}

.modal-header .close {
	position: absolute;
	right: -30px;
	top: -40px;
	font-size: 49px;
	color: #fff;
	opacity: 1;
	font-weight: 200;
}

.send-request {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border: none;
	padding: 13px 32px;
}

#frm_form_2_container .frm_button_submit {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	border: none;
	padding: 13px 32px;
	margin: 0 auto;
	margin-top: 32px;
	display: block;
}

#frm_form_2_container input {
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	display: flex;
	align-items: center;
	color: #6B6B6B;
	padding: 13px 16px;
}

.modal-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
	color: #000000;
	margin: 0 auto;
}

.reset {
	padding: 33px 0;
}

.clear {
	color: #EC1C24;
	width: auto;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    height: auto;
    line-height: normal;
    text-align: center;
    background: #ffffff;
    border-width: 1px;
    border-color: #cccccc;
    border-style: solid;
    color: #231f20;
    cursor: pointer;
    font-weight: normal;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-shadow: none;
    padding: 6px 11px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-shadow: 0 1px 1px #eeeeee;
    -webkit-box-shadow: 0 1px 1px #eeeeee;
    box-shadow: 0 1px 1px #eeeeee;
    margin: 10px;
    margin-left: 0;
    margin-right: 0;
    vertical-align: middle;
}

.tabs-item {
	cursor: pointer;
}

#frm_form_8_container {
	padding: 30px 0;
}
#frm_form_8_container .horizontal_radio .frm_primary_label{
	font-size: 24px;
}

#frm_field_116_container, 
#frm_field_133_container,
#frm_field_122_container {
	display: none;
}

/* ---------------------- */
/* ------ How it works ------ */
.hiw-box {
	margin-top: 18px;
}

.hw-in-g-title {
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	display: flex;
	align-items: center;
	color: #6B6B6B;
	margin-bottom: 32px;
	margin-top: 64px;
}

.hw-in-d {
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
}

.hw-block {
	border-bottom: 2px solid #ECECEC;
	padding-bottom: 32px;
}

.hiw-box:last-child .hw-block {
	border: none;
}

/* ---------------------- */
/* ------ Services ------ */
.s-icon {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.s-box {
	margin-top: 64px;
	border-bottom: 1px solid #E1E1E1;
	padding-bottom: 39px;
}

.s-box:last-child {
	border: none;
}

.s-box:first-child {
	margin-top: 0;
}

.services-icon {
	margin-top: 64px;
}

.services-icon:first-child {
	margin-top: 0 !important;
}

.services-in-title {
	margin-bottom: 0;
}

.services-icon img {
	padding: 35px 0;
}

.services-list-title {
	font-weight: 600;
	font-size: 28px;
	line-height: 34px;
}

.services-list {
	padding-left: 0;
}

.services-list li {
	font-weight: 400;
	font-size: 16px;
	line-height: 27px;
	margin-top: 16px;
	background: url(img/pol.png) no-repeat 0px 5px;
	padding: 0px 0px 3px 17px;
	list-style: none;
	margin: 0;
}

/* ---------------------- */
/* ------- Blog -------- */
.blog-box {
	justify-content: space-between;
}

.blog-in {
	padding: 55px 0;
}

.blog-container {
	margin-bottom: 30px;
}

.blog-item {
	height: 100%;
	padding: 12px 32px;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
	margin-top: 32px;
	position: relative;
}

.blog-item .post-title {
	font-weight: 600;
	font-size: 22px;
	line-height: 26px;
	color: #4E4E4E;
	margin-top: 15px;
}

.blog-item p {
	font-size: 16px;
	line-height: 20px;
	color: #4E4E4E;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
}

.post-date {
	padding: 16px 0 8px 0;
}

.post-social {
	width: 85px;
	float: right;
	justify-content: space-between;
}

.post-social li {
	list-style-type: none;
}

.post-navigation {
	display: block;
	margin-top: 39px;
	margin-bottom: 64px;
}

.post-navigation a {
	background-color: #F3F3F3;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #4E4E4E;
	padding: 7px 13px;
	margin-right: 10px;
}

.post-navigation a:nth-last-child(2) {
	margin-right: 20px;
}

.num-pages {
	font-size: 18px;
	line-height: 22px;
	color: #4E4E4E;
}

.read-more {
	position: absolute;
	bottom: 10px;
	right: 35px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #EC1C24;
}

.post-social-icons a:not(:last-child) {
	margin-right: 16px;
}

/* ---------------------- */
/* ----- Single Post ------- */
.single header {
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.dark {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: linear-gradient(180deg, rgba(35, 31, 32, 0) 0%, rgba(35, 31, 32, 0.6) 100%);
}

.single-post-in {
	margin-top: 32px;
}

.single-post-in .thumb {
	position: relative;
}

.single-post-in .post-info {
	position: absolute;
	bottom: 8px;
	width: 100%;
	padding: 0 30px;
}

.single-post-in .post-info .post-date {
	color: #FFFFFF;
}

.single-post-in .thumb img {
	width: 100%;
	height: auto;
}

.single-post-in .post-social li a {
	color: #ffffff;
}

.single-post-title {
	position: absolute;
	bottom: 60px;
	font-weight: 600;
	font-size: 28px;
	line-height: 39px;
	width: 680px;
	left: 30px;
	color: #FFFFFF;
}

.user-content {
	margin: 32px 0 50px 0;
}

.user-content p {
	font-size: 18px;
	line-height: 30px;
}

.recent-thumb img {
	width: 95px;
	height: 70px;
}

.recent-title date {
	display: block;
	margin-top: 7px;
}

.recent-post-title {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.single-post-in .recent-item {
	margin-top: 33px;
}

.single-post-in .recent-item:first-child {
	margin-top: 0;
}

.recent-block-title {
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	border-bottom: 2px solid #4E4E4E;
	padding-bottom: 8px;
}

.recent-thumb {
	padding: 0;
}

.single .post-social-icons a {
	color: #ffffff;
}

/* ---------------------- */
/* ------ Testimonials ------- */
.testimonials-in .auth-name {
	font-weight: 600;
	font-size: 22px;
	line-height: 140.19%;
}

.testimonial-item .item p {
	font-size: 16px;
	line-height: 140.19%;
}

.owl-prev {
	position: absolute;
	top: 41%;
	left: -60px;
	color: #ffffff;
	font-size: 50px;
}

.in-page-title {
	color: #ffffff;
	margin: 120px auto;
}

.owl-next {
	position: absolute;
	top: 41%;
	right: -60px;
	color: #ffffff;
	font-size: 50px;
}

.owl-item .item .testimonial-thumb {
	width: 79px;
	margin: 0 auto;
	padding-bottom: 20px;
}

.owl-carousel .item {
	padding: 80px 100px;
	background: url(img/test-icon.png) no-repeat 15% top;
	background-color: #ffffff;
}

.testimonial-item {
	max-width: 950px;
	margin: 0 auto;
	background-color: #ffffff;
	margin-bottom: 128px;
}

/* ---------------------- */
/* ------ Contact -------- */
.c-get-in-touch {
	font-size: 22px;
	line-height: 28px;
	color: #6B6B6B;
}

.c-g {
	font-weight: 600;
	font-size: 22px;
	line-height: 28px;
	color: #000000;
	display: block;
}

.off-hourse {
	width: 100%;
	border-bottom: 1px solid #EBEBEB;
	border-top: 1px solid #EBEBEB;
	padding: 32px 0;
}

.c-phone,
.c-email {
	width: 100%;
}

.c-phone {
	margin-top: 32px;
}

.c-email {
	border-bottom: 1px solid #EBEBEB;
	padding-bottom: 32px;
}

.c-social {
	display: inline-block;
	margin: 16px 0 0 32px;
}

.con-social {
	display: inline-block;
	margin-bottom: 64px;
	margin-top: 16px;
	margin: 16px 0 64px 0;
}

.social-icons a {
	width: 30px;
	height: 30px;
	padding: 2px;
	border-radius: 100%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.c-social a {
	margin-left: 15px;
	color: #A61C20;
	border: 1px solid #A61C20;
}

/* ---------------------- */
/* ------ Footer ------ */
footer {
	background: #231F20;
	border-top: 4px solid #6a1211;
	padding: 32px 0;
}

footer p {
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
}

footer .contact-info {
	margin-top: 33px;
}

footer .fa-phone,
footer .fa-envelope {
	padding-right: 10px;
}

footer .social-icons {
	border-bottom: 1px solid #C4C4C4;
	padding-bottom: 20px;
}

footer .social-icons a {
	border: 1px solid #fff;
	border-radius: 25px;
	color: #fff;
}

footer .social-icons a:not(:last-child) {
	margin-right: 16px;
}

.copyright {
	font-size: 14px;
	line-height: 17px;
	color: #FFFFFF;
	margin-top: 16px;
}

.header-items {
	justify-content: space-between;
}

.cover {
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.contact-in {
	padding: 64px 0;
}

/* Large desktops and laptops */
@media (min-width: 1230px) {
	.container {
		width: 1200px;
	}
}

@media (min-width: 1200px) {}

@media (max-width: 1199px) {}

/* Portrait tablets and medium desktops */
@media (min-width: 768px) and (max-width: 991px) {
	header .container {
		max-width: 100%;
	}

	.logo svg {
		max-width: 180px;
		height: 60px;
	}

	header .menu-item a {
		font-size: 14px;
	}

}

@media (min-width: 992px) {
	#burger-icon {
		display: none;
	}	
		

	.hw-number {
		font-size: 60px;
		line-height: 75px;
		width: 75px;
	}
	.video-block {
		margin-top: 30px;
	}

	.hero-title {
		top: 40%;
		max-width: 800px;
		padding: 20px;
		font-size: 44px;
		line-height: 50px;
	}

	.hero-title span {
		font-size: 140%;
		line-height: 120%;
	}

	.hero.hero_type-1 {
		min-height: 680px;
	}

	.ab-title {
		font-size: 48px;
		line-height: 59px;
	}

	.about-description {
		max-width: 800px;
		padding: 40px;
	}

	.about-description .ab-description {
		font-size: 22px;
		line-height: 34px;
		margin-top: 20px;
	}

	.p-title {
		font-size: 28px;
		line-height: 34px;
	}

	.wh-items {
		margin-top: 64px;
		padding-top: 15px;
	}

	.hw-list {
		margin-top: 64px;
	}

	.hw-description {
		font-size: 22px;
		line-height: 29px;
	}

	.hero_type_2 {
		min-height: 300px;
	}
}

@media (max-width: 991px) {
	.hw-number {
		font-size: 30px;
		line-height: 50px;
		width: 50px;
	}
	.video-block {
		margin-top: 20px;
	}

	.hero-title {
		top: 35vw;
		font-size: 20px;
		line-height: 28px;
		padding-right: 20px;
	}

	.hero-title span {
		font-size: 140%;
		line-height: 120%;
	}

	.hero.hero_type-1 {
		min-height: 80vw;
	}

	.ab-title {
		font-size: 26px;
		line-height: 32px;
	}

	.about-description {
		max-width: 600px;
		padding: 30px 20px;
	}

	.about-description .ab-description {
		font-size: 20px;
		line-height: 34px;
		margin-top: 15px;
	}

	.p-title {
		font-size: 20px;
		line-height: 30px;
	}

	.wh-items {
		margin-bottom: 32px;
		padding-top: 15px;
	}

	.hw-list {
		margin-top: 34px;
	}

	.hw-description {
		font-size: 16px;
		line-height: 24px;
	}

	.hero_type_2 {
		min-height: 200px;
	}
}

@media (min-width: 768px) {
	.primary-menu .main-menu {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 18px;
	}
	.tabs-title {
		font-size: 22px;
		line-height: 30px;
	}
	
	.hero iframe {
		transform: scale(1.2);
	}
}

@media (max-width: 767px) {
	.primary-menu .main-menu {
		text-align: right;
	}

	.tabs-title {
		font-size: 14px;
		line-height: 22px;
	}

	.primary-menu #navbarSupportedContent {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: #231F20;
		padding: 80px 40px;
	}


	#burger-icon {
		width: 26px;
		height: 19px;
		position: relative;
		float: right;
		transform: rotate(0deg);
		transition: .5s ease-in-out;
		cursor: pointer;
		z-index: 2;
	}

	#burger-icon span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: #000;
		opacity: 1;
		transition: .25s ease-in-out;
	}

	.home #burger-icon span,
	#burger-icon.open span {
		background: white;
	}

	body.scrolled #burger-icon span {
		background-color: #000;
	}

	#burger-icon span:nth-child(even) {
		left: 50%;
	}

	#burger-icon span:nth-child(odd) {
		left: 0px;
	}

	#burger-icon span:nth-child(1),
	#burger-icon span:nth-child(2) {
		top: 0px;
	}

	#burger-icon span:nth-child(3),
	#burger-icon span:nth-child(4) {
		top: 8px;
	}

	#burger-icon span:nth-child(5),
	#burger-icon span:nth-child(6) {
		top: 16px;
	}

	#burger-icon.open span:nth-child(1),
	#burger-icon.open span:nth-child(6) {
		transform: rotate(45deg);
	}

	#burger-icon.open span:nth-child(2),
	#burger-icon.open span:nth-child(5) {
		transform: rotate(-45deg);
	}

	#burger-icon.open span:nth-child(1) {
		left: 3px;
		top: 2px;
	}

	#burger-icon.open span:nth-child(2) {
		left: calc(50% - 3px);
		top: 2px;
	}

	#burger-icon.open span:nth-child(3) {
		left: -50%;
		opacity: 0;
	}

	#burger-icon.open span:nth-child(4) {
		left: 100%;
		opacity: 0;
	}

	#burger-icon.open span:nth-child(5) {
		left: 3px;
		top: 9px;
	}

	#burger-icon.open span:nth-child(6) {
		left: calc(50% - 3px);
		top: 9px;
	}

	.mobile-menu {
		padding: unset;
	}

	.logo svg {
		max-width: 135px;
		height: 60px;
	}

	#burger-icon {
		display: block;
	}

	footer {
		text-align: center;
	}

	footer .social-icons {
		margin-top: 20px;
		display: flex;
		justify-content: center;
	}
	.hero iframe {
		transform: scale(1.5);
	}
}
